.navbar-versatile{
    background-color: rgb(255, 203, 96);
    box-shadow: 1px 1px 8px rgba(244, 102, 27,1);
    color: rgb(128, 0, 128) !important;
}

.active{
    border-radius: 10px !important;
    background-color: rgb(255, 203, 96) !important;
    box-shadow: 1px 1px 8px rgba(244, 102, 27,1) !important;
}

.active a{
    color: rgb(244, 102, 27);
}

body{
    background: rgba(255, 203, 96, 0.5);
    font-size: 15px;
    color: #690369;
}

nav a{
    color: rgb(244, 102, 27);
}

nav a:hover{
     color: rgb(244, 102, 27);
}

.list-group-item-action{
    color: rgb(244, 102, 27) !important;
}

input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;

    width: 100px;
    height: 100px;
    border:2px solid #03b1ce ;}
.tital{ font-size:16px; font-weight:500;}
.bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}