@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
@import url(https://fonts.googleapis.com/css?family=Creepster);
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body{
    background-color: black;
    background-image: url(https://images2.alphacoders.com/439/439562.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 15px;
    color: yellow !important;
}

.login-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logimage{
    display: block;
    z-index: 99999;
}

.logimage img{
    width: 150px;
}

.logimage:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    cursor: none;
}
#boxForm
{
    top: -80px;
    border-radius: 9%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:center;
    background-color:rgb(255, 203, 96);
    min-width:400px;
    position:relative;
    box-shadow:1px 1px 8px rgba(244, 102, 27,1);
}

#boxForm.item-form #title{
    margin-top: 10px;
}

.logpass{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}


#boxForm #title
{
    margin-top: 100px;
    font-family: 'Nothing You Could Do', cursive;
    font-weight:bold;
    text-align:center;
    color: rgb(128, 0, 128);
}

.sign-text
{
    cursor: cell;
    padding:12px;
    width:250px;
    border-style:none;
    border-bottom-style:solid;
    border-color:rgb(244, 102, 27);
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size:18px;
    color:rgb(244, 102, 27);
    background-color:rgb(255, 203, 96);
    color: rgb(128, 0, 128);
}

.sign-text:focus
{
    margin-bottom: 2px;
    background-color:rgba(255,255,255,0.2);
    border-style:none;
    outline: none;
}

::-webkit-input-placeholder { color:rgb(244, 102, 27);font-weight:bold;font-size:16px; }
::-moz-placeholder { color:rgb(244, 102, 27); font-weight:bold;font-size:16px; } /* firefox 19+ */
:-ms-input-placeholder { color:rgb(244, 102, 27);font-weight:bold;font-size:16px; } /* ie */
input:-moz-placeholder { color:rgb(244, 102, 27); font-weight:bold;font-size:16px; }

form label
{
    margin-right: 60px;
    color: rgb(244, 102, 27);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.sing_submit, .familiar{
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    background: rgb(255,175,75); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,175,75,1)), color-stop(100%,rgba(255,146,10,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
    font-size: 15px;
    border-style:none;
    outline: none;
    box-shadow: 1px 1px rgba(244, 102, 27,1);
    cursor:pointer;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-weight: bold;
}

.Versatile{
    color: rgb(45, 138, 34);
}

.Versatile:hover{
    background: transparent;
    color: rgb(217, 0, 0);
    font-family: 'Creepster', serif;
    font-size: 1em;
    letter-spacing: 3px;
    line-height: .75em;
    transition-duration: 1.3s;
}

.shake:hover {
    color: rgb(128, 0, 128);
    animation:shake 0.5s;
    box-shadow: none;
    border: transparent;
}

@keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    30%,
    100% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    60%{
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.sing_submit:hover{
    background: linear-gradient(to bottom, #ffe000 0%, #799f0c 100%);
    outline: none;
}

.familiar{
    margin-top: 5px;
}

.familiar:hover {
    background: linear-gradient(to bottom, #799f0c 0%, #ffe000 100%);
    outline: none;
}


.remember{
    margin-left: 65px;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    margin-left: 20px;
    display: block;
    position: absolute;
    top: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 80%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: rgb(128, 0, 128);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 7px;
    top: 3.5px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.buttons{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10px 10px 10px;
}

input[placeholder] {
    text-align: center;
}

.fa{
    position: relative;
    font-size: 18px;
    top: -33px;
    left: 700%;
    color: #f4661b;
}

.navbar-versatile{
    background-color: rgb(255, 203, 96);
    box-shadow: 1px 1px 8px rgba(244, 102, 27,1);
    color: rgb(128, 0, 128);
}

.active{
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(244, 102, 27,1);
}

.active a{
    color: rgb(244, 102, 27);
}

nav a{
    color: rgb(244, 102, 27);
    color: #F89B43;
}

nav a:hover{
    color: #F89B43;
}

.list-group-item-action{
    color: rgb(244, 102, 27) !important;
}

input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border:2px solid #03b1ce;
    margin-left: 3.5%;
}

.tital{ font-size:16px; font-weight:500;}


.list-group-item.active{
    border-radius: 10px !important;
    background-color: rgb(255, 203, 96) !important;
    box-shadow: 1px 1px 8px rgba(244, 102, 27,1) !important;
}

.card-body{
    color: rgb(244, 102, 27);
}

.modal{
    color: black;
}

.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.NASA{
    max-width: 100%;
    max-height: 500px;
}

.friends-container{
    margin: 3vh 0;
    border: inset #fd7e14;
    max-width: 300px;
    background: darkgreen;
}

.friends-column-wrapper{
    display: flex;
    flex-direction:column;
    margin: 0;
}

.friends-row-wrapper{
    display: flex;
    flex-direction:row;
    margin: 0;
}

.friend-field{
    padding: 10px;
}

.friend-image{
    border-radius: 80%;
    height: 4rem;
}

.friend-nickname{
    margin-bottom: 0;
}

.friend-title{
    background: #fd7e14;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 991px){
    body{
        background-image: url(https://wallpapers.party/media/2018/06/Fondo-pantalla.jpg);
    }
    .login-wrapper{
    }
}

@media screen and (max-width: 720px){
    .login-wrapper{
        width: 90%;
    }
}
