<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

<!--Header Menu-->
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">Versatile</a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div align="center" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a th:class="${#httpServletRequest.requestURI=='/'}?'nav-link active':'nav-link'" href="/" th:text="#{home}"/>
                </li>
                <li class="nav-item">
                    <a th:class="${#httpServletRequest.requestURI=='/profile'}?'nav-link active':'nav-link'" href="/profile" th:text="#{profile}"/>
                </li>
                <li class="nav-item">
                    <a th:class="${#httpServletRequest.requestURI=='/picture-of-day'}?'nav-link active':'nav-link'" href="/picture-of-day" th:text="#{nasa}"/>
                </li>
                <li class="nav-item">
                    <a th:class="${#httpServletRequest.requestURI=='/settings'}?'nav-link active':'nav-link'" href="/settings" th:text="#{settings}"/>
                </li>
            </ul>
            <form class="my-2 my-lg-0">
                <select sec:authorize="isAuthenticated()" id="locales" class="mr-2" onchange="languageSelector()">
                    <option value="" th:text="#{lang.chooser}"/>
                    <option value="en_US" th:text="#{lang.eng}"/>
                    <option value="uk_UA" th:text="#{lang.ua}"/>
                    <option value="ru_RU" th:text="#{lang.ru}"/>
                </select>
            </form>
            <button sec:authorize="isAuthenticated()" id="exitButton" class="btn btn-success" type="submit" th:text="#{logout}"/>
            <button sec:authorize="isAnonymous()" id="loginButton" class="btn btn-success" onclick="window.location = 'login';" th:text="#{login}"/>
        </div>
    </nav>
</div>

<!--Redirect Modal-->
<div th:fragment="redirectModal">
    <div class="modal fade" id="redirectingModal" tabindex="-1" role="dialog" aria-labelledby="redirectingModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="redirectingModalTitle" th:text="#{modal.redirect.title}"/>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" th:text="#{modal.redirect.confirm-message}"/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" th:text="#{modal.redirect.button.no}"/>
                    <button id="redirecter" type="button" class="btn btn-danger" th:text="#{modal.redirect.button.yes}"/>
                </div>
            </div>
        </div>
    </div>

<!--Logout Modal-->
    <div class="modal fade" id="exitingModal" tabindex="-1" role="dialog" aria-labelledby="exitingModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exitingModalTitle" th:text="#{modal.exit.title}"/>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" th:text="#{modal.exit.confirm-message}"/>
                <div class="modal-footer">
                    <form action="/logout" method="get">
                        <button type="button" class="btn btn-success" data-dismiss="modal" th:text="#{modal.button.no}"/>
                        <button id="exiter" type="submit" class="btn btn-danger" th:text="#{modal.button.yes}" onclick="exit()"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>