<!DOCTYPE html>
<html lang="en" >
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/Versatile.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="login-wrapper">
    <div class="logimage"><img src="../static/images/Versatile.ico" alt=""></div>
    <div id="boxForm">
        <h2 id="title"><span class="Versatile">Versatile</span> is waiting for u)</h2>
        <form action="/login" method="post">
            <div class="logpass">
                <input class='sign-text' type='text'        name="username"     id='userLogin'      placeholder='Username'  required minlength="4" maxlength="25" autocomplete="off" autofocus>
                <input class='sign-text' type='password'    name="password"     id='userPassword'   placeholder='Password' 	required minlength="8" maxlength="25">
                <span>
                    <i class="fa fa-eye" aria-hidden="true" id="eye" onclick="toggle()"></i>
                </span>
                <label class="container"><span class="remember">Can we remember u?</span>
                    <input type="checkbox" id="rememberMe" name="remember-me">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="buttons">
                <input class='sing_submit shake' type='submit' value='Come in' id="btn-login">
                <input class='familiar shake' type='button' value='Not familiar?' onclick="location.href='/registration';">
            </div>
        </form>

        <div th:if="${param.error}">
            <script>alert("Bad credentials");</script>
        </div>
    </div>
</div>
</body>

<script>
    let state = false;
    function toggle(){
        if(state){
            document.getElementById("userPassword").setAttribute("type","password");
            document.getElementById("eye").style.color='#f4661b';
            state = false;
        }
        else{
            document.getElementById("userPassword").setAttribute("type","text");
            document.getElementById("eye").style.color='#800080';
            state = true;
        }
    }
</script>

</html>
