<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{pictureOfDay}"/>
    <link rel="shortcut icon" href="../static/images/Versatile.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/global.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="general.html :: header"/>
<div th:replace="general.html :: redirectModal"/>

<h1 align="center" th:text="#{pictureOfDay}" style="color: #fd7e14"/>
<h3 align="center" th:text="${pictureOfDay.getTitle()}"/>

<div class="main-div">
    <iframe class="NASA" width="420" height="235" frameborder="0" scrolling="no" th:src="${pictureOfDay.getUrl()}" allowfullscreen th:if="${pictureOfDay.getMediaType()} != 'image'"></iframe>
    <img class="NASA" th:src="${pictureOfDay.getUrl()}" alt="">
    <p th:text="${pictureOfDay.getExplanation()}"/>
</div>

<script src="../static/js/main.js"></script>

</body>
</html>