<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/images/Versatile.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/global.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title th:text="${user.getNickname()}">Profile</title>
</head>
<body>

<div th:replace="general.html :: header"/>
<div th:replace="general.html :: redirectModal"/>

<div align="left">
    <div><img alt="Avatar" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
         <input disabled id="profile-image-upload" class="hidden" type="file">
        <div style="color:#999;">click here to change profile image</div>
    </div>

    <div class="col-sm-6">
        <h4 style="color:#00b1b1;" th:text="${user.getNickname()}"/></span>
    </div>

    <div class="col-sm-6" align="left" th:text="#{user.lastname} + ' : ' + ((${user.getLastname()} == null)?#{empty.data}:${user.getLastname()})"/>
    <div class="col-sm-6" align="left" th:text="#{user.firstname} + ' : ' + ((${user.getFirstname()}==null)?#{empty.data}:${user.getFirstname()})"/>
    <div class="col-sm-6" align="left" th:text="#{user.created} + ' : ' + ${user.getCreationDate()}"/>
    <div class="col-sm-6" align="left" th:text="#{user.birthday} + ' : ' + ((${user.getBirthday()}==null)?#{empty.data}:${userBirthday})"/>
</div>

<script>
    $(function() {
        $('#profile-image1').on('click', function() {
            $('#profile-image-upload').click();
        });
    });
</script>

<script src="../static/js/main.js"></script>
</body>
</html>