<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/Versatile.ico" />
</head>

<body>
<div class="login-wrapper">
    <div class="logimage"><img src="../static/images/Versatile.ico" alt=""></div>
    <div id="boxForm">
        <h2 id="title">Nice to meet u)</h2>
        <form>
            <div class="logpass">
                <input type="text"      class='sign-text' id="nickname"   required placeholder="Enter your nickname"  autocomplete="off" minlength="4" maxlength="25">
                <input type="email"     class='sign-text' id="email"      required placeholder="Enter your email"     autocomplete="off" minlength="4" maxlength="25">
                <input type="password"  class='sign-text' id="password"   required placeholder="Enter your password"  autocomplete="off" minlength="8" maxlength="25">
                <input type="password"  class='sign-text' id="confirm"    required placeholder="Confirm your password"autocomplete="off" minlength="8" maxlength="25">
            </div>

            <div class="buttons">
                <input class='sing_submit shake' type='button' value='Get acquainted' id="btn-register">
                <input class='familiar shake'    type='button' value='<- Back' onclick="location.href='login.html';">
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/global.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
</body>

</html>
