<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" href="../static/images/Versatile.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title th:text="#{settings}"/>
</head>
<body>

<div th:replace="general.html :: nav"> </div>

<form action="/settings" method="PATCH">
    <button type="submit" class="btn btn-outline-danger ml-3" th:text="#{delete-account}"/>
</form>

<script src="../static/js/main.js"></script>
</body>
</html>